body {
    background: #acdbdb;
  }
  h1 {
  
    text-align: center;
  }
  h2 {

    text-align: center;
  }
  h3 {
    padding: 20px;
 }
p {
  padding-left: 20px;
  padding-right: 20px;
  color: peru;
}